<div id="hero">
    <div class="container">
      <div class="col-md-6 col-sm-12">
        <h1 class="text-uppercase text-md-left title">Find your <br><span class="highlight">next read</span></h1>
        <hr class="breaker text-md-left">
        <h4 class="text-md-left sub-title">Find something good to read. No matter where you are.</h4>
        <div class="hero-buttons">
          <a href="#" class="btn btn-success">I want to borrow</a>
          <a href="#" class="btn btn-primary">I want to lend</a> 
        </div>
      </div>
    </div>
  </div>
  
  <div class="feature-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6 text-md-left">
          <hr class="breaker">
          <h2 class="feature-1">It is as EASY as<br> <span class="highlight">1-2-3</span></h2>
          <!-- <p class="feature-1-desc">We simplify your search by connecting the right people with the right companies at the right time.</p> -->
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-md-left">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-md-left sider">
              <h3 class="tag-line">Sign Up</h3>
              <p class="tag-line-desc">Sign up for Book Exchange using your email, facebook, Twitter, or gmail account. It's Free and it always will be.</p>
              <div class="horizontal-breaker"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 text-md-left sider">
              <h3 class="tag-line">Add a Book</h3>
              <p class="tag-line-desc">Add your favorite book at the Book Exchange so others can borrow it. One is enough, but if you are like us The More the Merrier.</p>
              <div class="horizontal-breaker"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 text-md-left sider">
              <h3 class="tag-line">Borrow a Book</h3>
              <p class="tag-line-desc">Search through our Book Exchange system for your favorite books that are listed by other members and Enjoy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="roles-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6 call-action-side">
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6 roles">
          <hr class="breaker-white">
          <h1 class="roles-header">Share your favorite book.</h1>
          <p class="roles-text">100 Books You Must Read Before You Die. How many have you read?</p>
          <a href="blog.html" class="btn btn-white">Check the List</a>
        </div> 
      </div>
    </div>
  </div>
  
  <div class="books-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="books-header">Top Books Available</h1>
          <hr class="breaker">
          <h3 class=books-subheader>Here are the top books that are available in our exchange.</h3>
        </div> 
      </div>
      <div class="row books">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <a href="book-detail.html"><img src="../../assets/images/the-world-is-flat.jpg" alt="" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <a href="#"><img src="../../assets/images/the-god.jpg" alt="" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <a href="#"><img src="../../assets/images/the-beauty.jpg" alt="" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <a href="#"><img src="../../assets/images/beloved.jpg" alt="" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <a><img src="../../assets/images/love-unto.jpg" alt="" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <a><img src="../../assets/images/the-art-of-war.jpg" alt="" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <a><img src="../../assets/images/hidden-reality.jpg" alt="" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <a><img src="../../assets/images/the-tipping-point.jpg" alt="" /></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <a href="books.html" class="btn btn-success btn-md btn-block">See All Books</a>
        </div>
      </div>
    </div>
  </div>

  <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12">
					<p class="copyright">&copy; 2017 Book Exchange. All Rights Reserved.</p>
					<div class="links">
						<a href="#">Terms of Service</a>
						<a href="#">Privacy Policy</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
